<h1>Welcome</h1>

<p>Após o desejo dos seus fundadores de promover o bem estar e proporcionar qualidade de vida e de sono  aos seus clientes é criado no ano 2000 o GRUPO LEHUR MÓVEIS.
	Desde então a empresa vêm modernizando-se e alcançando lugar de destaque no mercado mineiro de móveis e colchões.</p>

<p>Este crescimento se deve a busca incansável de oferecer uma mercadoria com qualidade, inovação e acima de tudo preço. Isso se dá graças a parcerias através das 
	melhores indústrias instaladas em todo o território nacional.</p>

<p>O resultado dessa parceria entre comercio e indústria visa atender a você consumidor, motivo principal de todo esforço.</p>

<p>Sendo assim, oferecemos à você 2 pontos de vendas situados em Belo Horizonte, além desse nosso portal virtual para aumentar ainda mais o seu conforto.</p>

<p>Obrigado a todos os nossos fornecedores pela parceria de sucesso, aos nossos colaboradores pelo empenho e dedicação, e principalmente a você NOSSO CLIENTE, 
	por ser a razão de existir da nossa empresa.</p>
